body {
  background-color: lavender;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}
.weather-app {
  background: white;
  padding: 30px;
  box-shadow: 0 30px 50 px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  margin: 45px auto;
  max-width: 600px;
}
